<!-- /partials/header.html -->
<header class="global-header">
    <div class="logo-title-container">
        <img src="images\logo.png" alt="Logo Iglesia Jabes" class="header-logo">
        <h1>Iglesia Jabes</h1>
    </div>
    
    <!-- Menú para desktop -->
    <div class="sidebar">
        <button class="close-btn">&times;</button>
        <nav>
            <ul>
                <li><a href="index.html" class="nav-link" data-page="index">Inicio</a></li>
                <li><a href="index.html#somos" class="nav-link" data-page="somos">Quiénes Somos</a></li>
                <li><a href="index.html#ubicacion" class="nav-link" data-page="ubicacion">Ubicación</a></li>
                <li><a href="galeria.html" class="nav-link" data-page="galeria">Galería</a></li>
                <li><a href="directivos.html" class="nav-link" data-page="directivos">Directivos</a></li>
            </ul>
        </nav>
    </div>
    <!-- Botón de menú solo para móvil -->
    <button class="menu-btn">☰</button>
</header>